
body {
	margin: 20px;
}
.icon-ok {
	color: green;
}

.icon-remove {
	color: red;
}

.accordion-heading .pass {
	background-color: green;
}

.accordion-heading .fail {
	background-color: red;
}

#clearAll {
	padding-top: 0;
}

td a img {
	width: 20px;
}