
body {
	margin: 20px;
}
.icon-ok {
	color: green;
}

.icon-remove {
	color: red;
}

.icon-

.accordion-heading .pass {
	background-color: green;
}

.accordion-heading .fail {
	background-color: red;
}

